header{
    height: 50px;
    display: flex;
}
li,a{
    color: #000;
    font-size: 16px;
    text-decoration: none;
    list-style-type: none;
}
header .left_links{
    display: flex;
    float: left;
    
}
header .right_links{
    display: flex;
    
}
.left_links li,.right_links li{
    padding: 5px;
    margin: 10px 10px;
}

.main-heading{
font-weight: bolder;
padding: 10px;
font-size: 30px;
color: #000;
  flex-grow: 1;
  text-align: center;
}