.footer{
    display: flex;
    height: 300px;
    /* position:absolute; */
    bottom: 0;
    width:100%
  }
  .child{
    flex: 1;
    text-align: center;
    line-height: 30px;;
  }
  .child p{
   font-size: 12px;
  }
  
  .form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
  }
  .p{

  }