.grid-container {
  box-sizing: border-box;
    display: grid;
    width: 100%;
    height: 1260px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    grid-column-gap: 50px;
    grid-row-gap:30px;  
}
  
  .grid-categories {
    background-color:#FFFFFF;
    text-align: center;
    grid-row: 1/4;
    
   
  }
  .grid-categories p a{

    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
    color: #000;
     }
      
      
  .grid {
    background-image: URL(./assets/top6.jpg);
    background-repeat: no-repeat;
    background-size: cover;

  } 
div.grid{
  height: 400px;
}
 .grid img{
  height: 400px;
  width: 590px;
 
 }